.create-direct-messaging-form-container {
  background-color: #424549;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0.1, 0.3);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  left: 18.5rem;
  text-align: start;
  top: 4rem;
  padding: 2rem;
  width: 35rem;
  z-index: 1000;
}

.create-direct-messaging-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.create-direct-messaging-form-header {
  color: white;
  font-size: 2.4rem;
}

.create-direct-messaging-name-input-field {
  color: #c3c4c5;
  background-color: #1b1d1f;
  border-radius: 0.4rem;
  height: 3.6rem;
  padding: 1rem;
  width: 100%;
}

.create-direct-messaging-friends {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.friend-info-logo {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1.6rem;
  background-color: #7289da;
  height: 3.4rem;
  justify-content: center;
  width: 3.4rem;
  padding: 0.4rem;
  border-radius: 100%;
}

.friend-info {
  display: flex;
  font-size: 1.2rem;
}

.create-direct-messaging-form-submit {
  background-color: #9cace5;
  color: white;
  cursor: not-allowed;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.create-direct-messaging-form-submit.typed {
  background-color: #7289da;
  color: white;
  cursor: pointer;
}
