/*

COLORS:

DISCORD BLUE PRIMARY COLOR: #7289da
SHADES: #445283

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

input,
textarea {
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

#root {
  height: 100%;
  width: 100%;
}
