/*

COLORS:

DISCORD BLUE PRIMARY COLOR: #7289da
SHADES: #445283

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

input,
textarea {
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}
