.signup-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.signup-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.signup-form-header {
  font-size: 4.8rem;
}

.signup-form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.signup-form-input-label {
  font-size: 1.2rem;
}

.signup-form-input-label > .signup-error.show-error-message {
  color: red;
  visibility: visible;
}

.signup-form-input-label > .signup-error {
  visibility: hidden;
  font-size: 1rem;
}

.signup-form-input {
  border-bottom: 0.05rem solid black;
  height: 2rem;
}

.signup-form-input-container.photo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-form-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.signup-form-photo-input {
  display: none;
}

.signup-form-photo-title {
  font-size: 1.2rem;
}

.signup-form-input-label.photo {
  background-color: #7289da;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 100%;
  padding: 3rem;
  position: relative;
}

.signup-camera {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-form-submit {
  background-color: #7289da;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.8rem;
  margin-top: 2rem;
  padding: 1rem 0;
  width: 100%;
}

.signup-form-login-link {
  align-self: flex-start;
  font-size: 1.2rem;
  color: #445283;
}

.signup-form-login-link:hover {
  text-decoration: underline;
}
