.all-messages {
  background-color: #424549;
  height: 80vh;
  width: 65vw;
}

.messaging-functionality {
  background-color: #424549;
  height: 20vh;
  width: 65vw;
}

.channel-messages-container {
  margin: 0;
  padding: 0;
}
