.channel-messages-container {
  width: 100%;
}

.all-messages {
  background-color: #424549;
  height: 90vh;
}

.messaging-functionality {
  background-color: #424549;
  height: 10vh;
  display: space-around;
  justify-content: center;
  align-items: center;
}

.allMessages {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.single-user-message {
  list-style: none;
}
