.delete-channel {
  color: #c3c4c5;
  cursor: pointer;
  background-color: #d43b3b;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.delete-channel-button {
  cursor: pointer;
}
