.owned-servers-container {
  display: flex;
  height: 100%;
  overflow-x: scroll;
  background-color: rgb(30, 33, 36);
  justify-content: center;
  padding: 1rem;
  min-width: 7rem;
}

.servers-nav-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.server-link-bubbles {
  display: flex;
  flex-direction: column;
}

.server-icon-div {
  background-size: cover;
  background-position: 50%;
}

.server-icon-div,
.explore-icon-div,
.add-icon-div,
.logout-icon-div,
.direct-server-icon-div {
  display: flex;
  background-color: #424549;
  border-radius: 100%;
  font-size: 2rem;
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  transition: ease-in-out all 0.3s;
}

.explore-icon-div,
.add-icon-div {
  color: green;
}

.server-icon-div:hover,
.logout-icon-div:hover {
  background-color: #7289da;
  border-radius: 25%;
  color: white;
}

.explore-icon-div:hover,
.add-icon-div:hover {
  color: white;
  background-color: rgb(13, 122, 13);
  border-radius: 25%;
}

.direct-server-divider {
  background-color: #424549;
  width: 60%;
  padding: 0.1rem;
}

.dm {
  background-color: #7289da;
}

.dm:hover {
  border-radius: 25%;
}

/* server card for listing all */
.server-detail {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 75px;
  background-color: rgb(54, 57, 62);
}
.servercard-main-div {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 5px;
  background-color: rgb(30, 33, 36);
  gap: 1rem;
  height: 26rem;
  width: 22rem;
  transition: ease-in-out all 0.3s;
}
.servercard-main-div:hover {
  box-shadow: 0 2.4rem 1.8rem rgba(0, 0, 0.1, 0.3);
}
.servercard-icon-div {
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.servercard-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.server-info-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 2rem;
  font-size: 15px;
}

.server-members-circle {
  font-size: 0.8rem;
}

.server-members {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1rem;
}

.all-servers-container {
  width: 100%;
  overflow-y: scroll;
}

.server-card-container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
  padding: 10rem;
  flex-wrap: wrap;
  width: fit-content;
}

/* ----------- FORM STYLING ---------- */
/* TODO take care of the buttons with class names */
.create-server-form-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.create-server-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.server-camera {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-server-form-header {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2rem;
  font-size: 2.4rem;
}

.create-server-input-container {
  color: #c3c4c5;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
  width: 100%;
}

.create-server-photo-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-server-photo-container.photo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-server-photo-container.photo > button {
  color: #c3c4c5;
}

.create-server-photo-container.photo > button:hover {
  color: #ebebec;
}

.create-server-input-container label {
  font-size: 1.2rem;
}

.create-server-input-container input {
  color: #c3c4c5;
  background-color: #1b1d1f;
  border-radius: 0.4rem;
  height: 3.6rem;
  padding: 1rem;
}

.signup-form-photo {
  object-fit: cover;
}

.create-server-form-buttons {
  align-items: center;
  background-color: #26282b;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  font-size: 1.4rem;
  gap: 2rem;
  justify-content: flex-end;
  margin-top: 2rem;
  padding: 1.2rem 2rem 1.2rem;
  width: 100%;
}

.create-server-form-button-submit {
  background-color: #9cace5;
  border-radius: 0.5rem;
  color: #ebebec;
  cursor: not-allowed;
  padding: 1rem;
}

.create-server-form-button-submit.typed {
  background-color: #7289da;
  color: white;
  cursor: pointer;
}

.create-server-form-button-edit {
  background-color: #7289da;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.create-server-form-button.cancel {
  color: white;
  cursor: pointer;
}

.signup-error.show-error-message {
  color: red;
  visibility: visible;
}

.signup-error {
  visibility: hidden;
  font-size: 1rem;
}

/* --------------------------------Context Server ---------------------------------------*/
.context-menu {
  font-size: 14px;
  border-radius: 5px;
  padding: 1rem;
  width: 150px;
  height: auto;
  margin: 0;
  position: absolute;
  opacity: 1;
  cursor: pointer;
  list-style: none;
  background-color: #1e2124;
  z-index: 2000;
}

.context-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  list-style: none;
}

.context-menu-list > li {
  border-radius: 5px;
  list-style: none;
  color: #afb0b1;
  padding: 0.5rem;
}

.context-menu-list > li:hover {
  background-color: #424549;
}
