.owned-servers-container {
  display: flex;
  height: 100%;
  overflow-x: scroll;
  background-color: rgb(30, 33, 36);
  justify-content: center;
  padding: 1rem;
  min-width: 7rem;
}

.server-modal-name {
  margin: 0.5rem;
}

.create-server-form {
  margin: 5px;
}

.servers-nav-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.server-link-bubbles {
  display: flex;
  flex-direction: column;
}

.server-icon-div {
  background-size: cover;
  background-position: 50%;
}

.server-icon-div,
.explore-icon-div,
.add-icon-div,
.logout-icon-div,
.direct-server-icon-div {
  display: flex;
  background-color: #424549;
  border-radius: 100%;
  font-size: 2rem;
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  transition: ease-in-out all 0.3s;
}

.explore-icon-div,
.add-icon-div {
  color: green;
}

.server-icon-div:hover,
.logout-icon-div:hover {
  background-color: #7289da;
  border-radius: 25%;
  color: white;
}

.explore-icon-div:hover,
.add-icon-div:hover {
  color: white;
  background-color: rgb(13, 122, 13);
  border-radius: 25%;
}

.direct-server-divider {
  background-color: #424549;
  width: 60%;
  padding: 0.1rem;
}

.dm {
  background-color: #7289da;
}

.dm:hover {
  border-radius: 25%;
}

/* server card for listing all */
.server-detail {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 75px;
  background-color: rgb(54, 57, 62);
}
.servercard-main-div {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 5px;
  background-color: rgb(30, 33, 36);
  height: 24rem;
  width: 20rem;
  transition: ease-in-out all 0.3s;
}
.servercard-main-div:hover {
  box-shadow: 0 2.4rem 1.8rem rgba(0, 0, 0.1, 0.3);
}
.servercard-icon-div {
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.servercard-icon {
  font-size: 2.4rem;
  width: 100%;
  width: 100%;
}

.server-name {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.all-servers-container {
  width: 100%;
  overflow-y: scroll;
}

.server-card-container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
  padding: 10rem;
  flex-wrap: wrap;
  width: fit-content;
}

/* ----------- FORM STYLING ---------- */
.create-song-form {
  display: flex;
  flex-direction: column;
}

/* input {
  background-color: black;
  height: 25px;
  margin: 3px;
  color: rgb(114, 137, 218);
} */
/* input:hover {
  background-color: rgba(114, 137, 218);
  border: 3px solid black;
  border-radius: 5px;
} */

select {
  margin-top: 3px;
  background-color: rgb(114, 137, 218);
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}
select:hover {
  cursor: pointer;
}
option {
  background-color: gray;
}
option:hover {
  background-color: rgb(114, 137, 218);
  cursor: pointer;
}
/* TODO take care of the buttons with class names */
.form-button {
  margin: 0;
  margin-top: 10px;
  background-color: rgb(114, 137, 218);
  border: 3px solid black;
  border-radius: 15px;
  font-weight: 600;
  padding: 4px;
}
.form-button:hover {
  cursor: pointer;
}

/* --------------------------------Context Server ---------------------------------------*/
.context-menu {
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 150px;
  height: auto;
  margin: 0;
  position: absolute;
  box-shadow: 0 0 20px 0 #ccc;
  opacity: 1;
  transition: ease-in-out opacity 0.5s linear;
  cursor: pointer;
}

.context-menu-list {
  list-style: none;
}
