.owned-servers-container {
  display: flex;
  height: 100%;
}

.servers-container{
  margin-bottom: 1rem;
}

.server-modal-name{
  margin: 0.5rem;
}

.create-server-form{
  margin: 5px;
}

.servers-nav-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 33, 36);
  gap: 1rem;
  height: 100%;
  padding: 1rem;
}

.server-icon-div {
  background-size: cover;
  background-position: 50%;
}

.server-icon-div,
.explore-icon-div,
.add-icon-div,
.logout-icon-div {
  display: flex;
  background-color: #424549;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.3s;
}

.explore-icon-div,
.add-icon-div {
  color: green;
}

.server-icon-div:hover,
.logout-icon-div:hover {
  background-color: #7289da;
  border-radius: 25%;
  color: white;
}

.explore-icon-div:hover,
.add-icon-div:hover {
  color: white;
  background-color: rgb(13, 122, 13);
  border-radius: 25%;
}

.direct-server-divider {
  background-color: #424549;
  width: 60%;
  padding: 0.1rem;
}

.dm {
  background-color: #7289da;
  border-radius: 25%;
}

/* server card for listing all */
.server-detail {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 75px;
  background-color: rgb(54, 57, 62);
}
.servercard-main-div {
  display: flex;
  color: white;
  padding: 3px;
  margin: 8px;
  border-radius: 5px;
  background-color: rgb(30, 33, 36);
  width: 150px;
  transition: all 0.3s;
}
.servercard-main-div:hover {
  box-shadow: 5px 5px 5px black;
}
.servercard-icon-div {
  display: flex;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 3px;
  justify-content: center;
  align-items: center;
}

.servercard-icon {
  font-size: 2.4rem;
  width: 50px;
  height: 50px;
}

.server-name {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.server-card-container {
  display: flex;
  flex-wrap: wrap;
  /* height: 100px;
  width: 5px; */
}

.server-card-container > a {
  height: 50px;
}

/* ----------- FORM STYLING ---------- */
.create-song-form {
  display: flex;
  flex-direction: column;
}

/* input {
  background-color: black;
  height: 25px;
  margin: 3px;
  color: rgb(114, 137, 218);
} */
/* input:hover {
  background-color: rgba(114, 137, 218);
  border: 3px solid black;
  border-radius: 5px;
} */

select {
  margin-top: 3px;
  background-color: rgb(114, 137, 218);
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}
select:hover {
  cursor: pointer;
}
option {
  background-color: gray;
}
option:hover {
  background-color: rgb(114, 137, 218);
  cursor: pointer;
}
/* TODO take care of the buttons with class names */
.form-button {
  margin: 0;
  margin-top: 10px;
  background-color: rgb(114, 137, 218);
  border: 3px solid black;
  border-radius: 15px;
  font-weight: 600;
  padding: 4px;
}
.form-button:hover {
  cursor: pointer;
}

/* --------------------------------Context Server ---------------------------------------*/
.context-menu {
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 150px;
  height: auto;
  margin: 0;
  position: absolute;
  box-shadow: 0 0 20px 0 #ccc;
  opacity: 1;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.context-menu-list {
  list-style: none;
}
