.login-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.login-form-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-form-header-header {
  font-size: 4.8rem;
}

.login-form-header-text {
  font-size: 1.8rem;
}

.login-form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.login-form-input-label {
  font-size: 1.2rem;
}

.login-form-input-label > .login-error.show-error-message {
  color: red;
  visibility: visible;
}

.login-form-input-label > .login-error {
  visibility: hidden;
  font-size: 1rem;
}

.login-form-input {
  border-bottom: 0.05rem solid black;
  height: 2rem;
}

.login-form-submit {
  background-color: #7289da;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.8rem;
  margin-top: 2rem;
  padding: 1rem 0;
  width: 100%;
}

.login-form-signup-link {
  align-self: flex-start;
  font-size: 1.2rem;
}

.login-form-signup-register-link {
  color: #445283;
}

.login-form-signup-register-link:hover {
  text-decoration: underline;
}
