.direct-channels-container {
  background-color: #36393e;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  min-width: 22rem;
  height: 100%;
}

.direct-channels-header {
  display: flex;
  color: #c3c4c5;
  font-size: 1.4rem;
  justify-content: space-between;
  padding: 0.8rem 1rem;
}

.direct-channels-header:hover {
  color: #ebebec;
}

.direct-channels {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.direct-channel-link-container {
  position: relative;
  height: 3.4rem;
}

.delete-direct-channel-button-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.fa-solid.fa-xmark.delete-direct-channel-button {
  font-size: 1.4rem;
  color: #c3c4c5;
}

.fa-solid.fa-xmark.delete-direct-channel-button:hover {
  color: #ebebec;
}

.direct-channels-plus {
  color: #c3c4c5;
  cursor: pointer;
}

.direct-channels-plus:hover {
  color: #ebebec;
}

.direct-channel-link {
  color: #c3c4c5;
  display: flex;
  font-size: 1.4rem;
  padding: 0.8rem 1rem;
}

.direct-channel-link:hover {
  background-color: #4a4d51;
  border-radius: 0.4rem;
  color: #ebebec;
}

.direct-channel-link:focus {
  background-color: #727478;
  border-radius: 0.4rem;
  color: #ebebec;
}

.direct-channel-link.active {
  background-color: #727478;
  border-radius: 0.4rem;
  color: #ebebec;
}

.direct-channel-name {
  align-items: center;
  display: flex;
  gap: 0.6rem;
}
